body {
    font-family: 'quicksand', quicksand;
    margin: 0;
    background-color: #f1e4c7;
}
.body_section{
    padding: 3% 5% 1%;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* cursive marie devoll at the top */
.brand-name ,.navbar-light .navbar-brand {
    font-family: 'cedarville cursive';
    font-size: 50px;
    font-weight: bond;
    color: black;
} 
.headerachor {
    color: black;
    margin: 0 7px 0 7px;
    font-size: 25px;
}

.headerachor:hover {
    background-color: #f1c7eb;
}

#contact{
    padding: 20px 20px 10px;
}


.first-section{
    text-align: center;
}

.gradphoto{
  border-radius: 100%;
  width: 340px;
  height: 460px;
  border: 10px solid;
  border-color: #f1c7eb;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.897);
}

.context{
  text-align: center;
  padding-top: 20px;
}

footer {
    padding-top: 2%;
    text-align: center;
}