body {
    font-family: 'quicksand', quicksand;
    margin: 0;
}
.body_section{
    padding: 3% 5% 1%;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* cursive marie devoll at the top */
.brand-name ,.navbar-light .navbar-brand {
    font-family: 'cedarville cursive';
    font-size: 50px;
    font-weight: bond;
    color: black;
} 
.headerachor {
    color: black;
    margin: 0 7px 0 7px;
    font-size: 25px;
}

.headerachor:hover {
    background-color: #f1c7eb;
}
.skill-box {
    width: 30%; 
    margin: 1%;
    background-color: #f1c7eb;
    padding: 20px;
    box-sizing: border-box;
    float: left; /* boxes are placed side by side */
}
/* Clear floats to start a new row */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


footer {
    padding-top: 2%;
    text-align: center;
}