* {
    box-sizing: border-box;
}

:root {
    --mauve: #a55d93;
    --eggshell: #dddddd8d;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    background-color: var(--mauve);
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mauve);
    color: black;
}

h2 {
    color: black;
    background-color: var(--mauve);
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
img {
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.snail {
    color: black;
    background-color: var(--eggshell);
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid;
}

h3 {
    color: black;
    background-color: var(--mauve);
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
span {
    color: black;
    background-color: var(--eggshell);
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    border: solid;
}
.email {
    color: black;
    background-color: var(--eggshell);
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}